plugins = []
headers = []
redirects = []

[functions]

  [functions."*"]

[build]
publish = "."
publishOrigin = "config"
commandOrigin = "config"
# Lệnh Build: Thay thế placeholder trong cả index.html và index1.html
command = "sed -i 's|FIREBASE_API_KEY_PLACEHOLDER|'$FIREBASE_API_KEY'|g' index.html index1.html"

  [build.environment]



  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]
